<div>
    <h2>Insulin Unit Calculator</h2>
    <form ng-submit="insulinCalc(diabetes)">
    <label for="bloodSugar">Blood Sugar</label>
    <input type="number" ng-model="diabetes.bloodSugar" name="bloodSugar" id="bloodSugar" />
    <label for="carbIntake">Carb Intake</label>
    <input type="number" ng-model="diabetes.carbIntake" name="carbIntake" id="carbIntake" />
    <label for="weight">Weight</label>
    <input type="number" ng-model="diabetes.weight" name="weight" id="weight" />
    <!-- <label for="meal">Meal</label>
    <input type="string" ng-model="diabetes.meal" name="meal" /> -->


    <select ng-model="diabetes.meal" ng-options="meal for meal in meals"></select>
    <button ng-click="diabetes.postData()" class="btn btn-default" type="submit" value="Calculate">Calculate</button>
  </form>
  <div>

    <p>Your suggested dose of insulin is: {{diabetes.final}}</p>
  </div>
    <!-- <div ng-repeat="i">
      <! <p>Your suggested dose of insulin is: {{diabetes.final}}</p><br /> -->
<!--
      Carb Intake: {{insulin.carbIntake}}
      Blood Sugar: {{insulin.bloodSugar}}
      Weight: {{insulin.weight}}
      Meal: {{insulin.meal}}
      Correction Dose: {{insulin.correctionDose}}
      Final Dose: {{insulin.final}}
    </div> -->
</div>
